<h3>I'm <a href="https://github.com/<%= @config[:github][:user]%>"><%=@config[:author]%></a></h3>
<p>I'm a programmer, a project leader, an agile coach</p>

<p>These are some text notes, mostly programming notes</p>

<p>There is <span id="count"><%= @articles.length %></span> articles in this notes engine, powered by <a href="http://cloudhead.io/toto">toto</a></p>
